package utils

type Configuration struct {
  AppName string
  BaseURL string
  RethinkHost string
  RethinkDatabase string
  ServerLoggingEnabled bool
  MandrillAPIKey string
  TokenEncryptionKey string
}

func Config(env string) *Configuration {

  if (env == "production") {
    return &Configuration{
      AppName: "Gypsy",
      BaseURL: "http://gypsy.seasalt.io/",
      RethinkHost: "0.0.0.0:28015",
      RethinkDatabase: "gypsy",
      ServerLoggingEnabled: true,
      MandrillAPIKey: "XXXXXXXXX",
      TokenEncryptionKey: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
    }
  }

  if (env == "test") {
    return &Configuration{
      AppName: "Gypsy",
      BaseURL: "http://localhost:3000/",
      RethinkHost: "0.0.0.0:28015",
      RethinkDatabase: "gypsy_test",
      ServerLoggingEnabled: false,
      MandrillAPIKey: "XXXXXXXXX",
      TokenEncryptionKey: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
    }
  }

  return &Configuration{
    AppName: "Gypsy",
    BaseURL: "http://localhost:3000/",
    RethinkHost: "0.0.0.0:28015",
    RethinkDatabase: "gypsy",
    ServerLoggingEnabled: true,
    MandrillAPIKey: "XXXXXXXXX",
    TokenEncryptionKey: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
  }
}